body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 50px;
    color: olive;
}

#div1 {
    background-color: blue;
}

#div2 {
    background-color: pink;
}

div {
    background-color: green;
}

div p {
    color: orange;
}

ul {
    display: inline;
}

#two {
    width: 15em;
    height: 13em;
    background-color: green;
}

#my-para {
    color: red;
}

#parent {
    color: orange;
}