footer {
	position: fixed;
    bottom: 0;
	left: 0;

	margin-left: 20px;
	margin-bottom: 10px;

	font-size: 15px;
}

footer a {
	color: #408ac7;
	transition: .5s;
}

footer a:hover{
	color: #BFD1D9;
	
}

.hide {
	display: none;
}

a:hover + .hide {
	display: inline-block;
}