body {
    margin: 0;
    padding: 0;
    background-color: #DBE5FF;
    color: black;
    height: 100vh;
    /* width: calc(100vw - 20px); */
    width: 100vw;

    display: flex;
    flex-direction: column;

    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}


::-webkit-scrollbar {
    display: none;
}

@keyframes example {
    from {background-color: #4b6cb7; color: black;}
    to {background-color: #182848; color: white;}
  }


h1, h2, h3 {
    color: #091534;
}

.summary {
    background-color: #678FFE;
    box-shadow: 2px 2px 4px #091534;
    padding: 5px;
}

.preamble {
    background-color: #678FFE;
    box-shadow: 2px 2px 4px #091534;
    padding: 5px;
}

.sidebar {
    background-color: #678FFE;
    box-shadow: 2px 2px 4px #091534;
    padding: 5px;

}

a {
    text-decoration: none;
    transition: .5s;
}

a:hover {
    color: red;
}

.page-wrapper {

}

.intro {
    text-align: center;
}

.main {
    display: flex;

    background-color: #678FFE;
    box-shadow: 2px 2px 4px #091534;
    padding: 5px;
}

.banner {
    
}



footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

    text-align: center;
    background-color: #091534;
    font-size: 20px;
}

footer a {
    display: inline-block;
    margin: 10px;
    color: #012998;
    /* border: 1px solid white;
    border-radius: 60px;
    padding: 0.5em 0.6em; */

}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    /* background-image: linear-gradient(red, yellow); */
    margin: 10px;
}

.participation {
    animation-name: spin;
    animation-duration: 5000ms; /* How long lasts 1 turn */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }